/* ---------- Reset styles ---------- */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* ---------- Adaptive img ---------- */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ---------- Body styles ---------- */

body {
  color: #434455;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

button {
  font-family: inherit;
  color: currentColor;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.section {
  padding-top: 48px;
  padding-bottom: 48px;
}

@media screen and (min-width: 1158px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

/* ---------- Header ---------- */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  max-width: 1158px;
  align-items: center;
}

.logo-style-header {
  color: #2e2f42;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17;
  color: #4d5ae5;
  margin-right: 120px;
  padding: 16px;
}

@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
}

.header-nav {
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.32px;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header-menu {
  display: flex;
  gap: 40px;
}

@media screen and (max-width: 767.98px) {
  .header-menu {
    display: none;
  }
}

.header-menu-link {
  display: block;
  position: relative;
  color: #2e2f42;
  padding: 24px 0;
  gap: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.header-menu-link.active {
  color: #404bbf;
}

.header-menu-link.active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  display: block;
  border-radius: 2px;
  background-color: #404bbf;
}

.header-address {
  font-style: normal;
}

@media screen and (max-width: 767.98px) {
  .header-contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-contacts-email:not(:last-child) {
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 1158px) {
  .header-contacts-email:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1158px) {
  .header-contacts {
    display: flex;
    gap: 40px;
  }
}

.header-contacts-item {
  color: currentColor;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .header-contacts-item {
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.48px;
  }
}

@media screen and (min-width: 1158px) {
  .header-contacts-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
  }
}

.header-contacts-item:hover,
.header-contacts-item:focus {
  color: #404bbf;
}

/* ---------- Section 1. Hero ---------- */

.hero {
  background: #2e2f42;
  flex-shrink: 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/hero/img-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  background-position: center;
  margin: 0 auto;
  padding: 16px;
  padding-top: 72px;
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/hero/img-hero-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/hero/img-hero-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/hero/img-hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/hero/img-hero.jpg);
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/hero/img-hero@2x.jpg);
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  color: #fff;
  text-align: center;
  font-weight: 700;
  max-width: 496px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    margin-top: 112px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero-title {
    margin-top: 188px;
    margin-bottom: 48px;
  }
}

.hero-button {
  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: 0 auto;
  margin-bottom: 72px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .hero-button {
    margin-bottom: 112px;
  }
}

@media screen and (min-width: 1158px) {
  .hero-button {
    margin-bottom: 188px;
  }
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* ---------- Section 2. Features ---------- */

.icon-place {
  display: none;
}

@media screen and (min-width: 768px) {
  .features-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .features-item {
    width: calc((100% - 72px) / 4);
  }

  .icon-place {
    padding: 24px 24px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
  }
}

.features {
  background-color: #fff;
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .features {
    padding: 120px 0;
  }
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .features-list {
    gap: 72px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .features-list {
    gap: 24px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-title-item {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.07em;
  line-height: 1.2;
  margin-bottom: 8px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features-title-item {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .features-title-item {
    font-size: 20px;
    font-weight: 500;
  }
}

.features-text {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* --------- Section 3. Team ---------- */

.company-employees {
  background-color: #f4f4fd;
  padding: 120px 0;
}

@media screen and (min-width: 768px) and (max-width: 1157.98px) {
  .section-employees-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
  }
}

.company-employees-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-right: auto;
  margin-bottom: 72px;
}

.company-employees-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .company-employees-list {
    flex-direction: row;
    column-gap: 24px;
    row-gap: 64px;
  }
}

@media screen and (min-width: 1158px) {
  .company-employees-list {
    gap: 24px;
  }
}

.container-employees {
  padding: 32px 0;
}

.company-employees-card {
  width: 264px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
  .company-employees-card {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .company-employees-card {
    width: calc((100% - 72px) / 4);
  }
}

.company-employees-name {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.company-employees-specialty {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 8px;
}

.social-media-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-media-employee-link {
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-employee-link:focus,
.social-media-employee-link:hover {
  background-color: #404bbf;
}

.employee {
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
}

.icon-employee-media {
  fill: #f4f4fd;
}

/* ---------- Section 4. Portfolio ---------- */

.portfolio {
  padding: 120px 0;
}

.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0 auto;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-card {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .portfolio-card {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-card {
    width: calc((100% - 48px) / 3);
  }
}

.portfolio-text-block {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-types {
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-types-clarification {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.box-for-overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .overlay-text {
  transform: translateY(0%);
}

.portfolio-card:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/* ---------- Footer ---------- */

.footer {
  background: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (max-width: 767.98px) {
  .footer {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    padding-left: 108px;
    padding-right: 108px;
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-container {
    padding-left: 16px;
    gap: 0;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
  }
}

.logo-part {
  display: block;
}

@media screen and (max-width: 767.98px) {
  .logo-part {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) {
  .logo-part {
    max-width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .logo-part {
    margin-right: 120px;
  }
}

.footer-logo {
  display: block;
  margin: 0 0 16px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17;
  color: #4d5ae5;
  padding: 0px;
}

@media screen and (min-width: 768px) {
  .footer-logo {
    padding: 0px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-logo {
    align-self: flex-start;
    padding: 0px;
  }
}

.logo-style-footer {
  color: #f4f4fd;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer-text {
  color: #f4f4fd;
  line-height: 24px;
  letter-spacing: 0.32px;
  width: 264px;
  display: flex;
  text-align: left;
}

@media screen and (max-width: 767.98px) {
  .footer-social-media {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-social-media {
    max-width: 208px;
    margin-right: 80px;
  }
}

.text-social {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.down-links {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.links-media-footer {
  width: 40px;
  height: 40px;
  display: flex;
}

.down-green {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
  fill: #f4f4fd;
}

.down-green:hover,
.down-green:focus {
  background-color: #31d0aa;
}

@media screen and (min-width: 1158px) {
  .subscribe-form {
    margin-left: auto;
  }
}

.subscribe-title {
  margin-bottom: 16px;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-input-plus-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 24px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .footer-input-plus-btn {
    gap: 0;
  }
}

@media screen and (min-width: 1158px) {
  .footer-input-plus-btn {
    flex-wrap: nowrap;
    align-items: center;
  }
}

.footer-input-label {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer-input-label {
    max-width: 264px;
    margin-right: 24px;
  }
}

.footer-input {
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  outline: none;
  color: #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer-input::placeholder {
  color: #fff;
}

.footer-input:focus {
  border-color: #4d5ae5;
}

.footer-btn {
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: #4d5ae5;
  min-width: 165px;
  min-height: 40px;
  cursor: pointer;
  border: none;
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: #404bbf;
}

.button-icon-telegram {
  margin-left: 16px;
  fill: #ffffff;
}

@media screen and (min-width: 1158px) {
  .button-icon-telegram {
    margin-left: 0;
  }
}

/* ---------- Modal window ---------- */

.backdrop {
  position: fixed;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 72px 24px 24px 24px;
  min-width: 288px;
  min-height: 623px;
  border-radius: 4px;
  background: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
  }
}

.close-btn {
  position: absolute;
  padding: 0;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .close-btn-icon,
.close-btn:focus .close-btn-icon {
  fill: #ffffff;
}

.modal-caption {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  max-width: 360px;
  margin-bottom: 16px;
}

label {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
}

.form-input {
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  color: #2e2f42;
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #4d5ae5;
}

.form-label {
  display: block;
  margin-bottom: 4px;
}

.form-field {
  position: relative;
}

.form-wrapper {
  position: relative;
  margin-bottom: 8px;
}

.form-wrapper-comment {
  margin-bottom: 16px;
  padding: 0;
}

.form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
}

.form-message {
  background-color: transparent;
  width: 100%;
  display: block;
  height: 120px;
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-message::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
}

.form-message:focus {
  border-color: #4d5ae5;
}

.privacy-form {
  display: flex;
  margin-bottom: 24px;
}

.form-agreement {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
}

.link-privacy-policy {
  color: #4d5ae5;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
}

.form-agreement-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  margin-right: 8px;
}

.icon-check-mark {
  fill: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accept-checkbox:checked+.form-agreement .form-agreement-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.accept-checkbox:checked+.form-agreement .form-agreement-checkbox .icon-check-mark {
  fill: #f4f4fd;
}

.send-btn {
  display: block;
  padding: 16px 32px;
  min-width: 169px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:hover,
.send-btn:focus {
  background-color: #404bbf;
}

.form-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus+.form-icon {
  fill: #4d5ae5;
}

/* ---------- Mobile menu ---------- */

.mobile-container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 100%;
  padding: 72px 16px 0;
  margin-right: auto;
}

.mobile-menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: white;
  border: white;
}

@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}

.mobile-menu {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  visibility: hidden;
  transform: translateY(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  transform: translateX(0);
  visibility: visible;
}

.mobile-menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 1px solid #e7e9fc;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-btn-icon {
  stroke: #2e2f42;
}

.mobile-menu-list {
  margin-bottom: auto;
}

.mobile-menu-nav-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.mobile-menu-link.current {
  color: #404bbf;
}

.mobile-menu-contacts {
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin: 40px 0 48px;
}

.mobile-menu-contact-item:first-child {
  margin-bottom: 24px;
}

.mobile-menu-contact {
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.mobile-menu-contact.accent {
  color: #4d5ae5;
}

.mobile-menu-socials {
  justify-content: flex-start;
  display: flex;
  gap: 40px;
  padding-bottom: 40px;
}